.header-icon
  smile
.header-box
  .posts
    .post
      ログイン
    = link_to edit_user_path(current_user) do
      .post
        新規登録
    = link_to new_post_path,class: "post-create" do
      .post
        投稿
  .profile